{% extends "skeleton.html" %}
{% block content %}
<script type="text/javascript">
  function check_client_data(){
    const edClientName = document.getElementById("clientName");
    const edClientSurname = document.getElementById("clientSurname");
    const edClientEmail = document.getElementById("clientEmail");
    const edPhone = document.getElementById("clientPhone");

    dvError.innerHTML="";
    dvError.style.display = "none";

    if(edPhone.value.length < 9){
      toret = false;
      dvError.innerHTML = "Introduzca un número de teléfono válido";
      dvError.style.display = "block";
    }

    if(edClientName.value.isNumeric() || edClientName.value < 5){
      toret = false;
      dvError.innerHTML = "Introduzca un nombre correcto";
      dvError.style.display = "block";
    }

    if(!edClientEmail.value.contains("@")){
      toret = false;
      dvError.innerHTML = "Intruduzca un formato de email válido";
      dvError.style.display = "block";
    }

    if(edClientSurname.value.isNumeric() || edClientSurnamei.value < 5){
      toret = false;
      dvError.innerHTML = "Introduzca un apellido correcto";
      dvError.style.display = "block";
    }

    return toret;


  }
</script>
<form id="formClient" action="/client/add" method="post" onsubmit="check_client_data()">
  <div class="form-row">
    <div class="col-7">
      <input id="clientName" type="text" class="form-control" placeholder="name" value="{{client.name}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="surname" value="{{client.surname}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="email" value="{{client.email}}">
    </div>
  </div>
    <div class="form-row">
    <div class="col-7">
      <input type="text" class="form-control" placeholder="phone" value="{{client.phone}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="dni" value="{{client.dni}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="user" value="{{client.user}}">
    </div>
  </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" onsubmit="javascript: document.formClient.submit()">Enviar</button>
    </div>
</form>

<div id="dvError">

</div>

{% endblock %}