{% extends "skeleton.html" %}
{% block content %}
<script type="text/javascript">
  function check_motorcycle_data(){
    const edBrand = document.getElementById("brand");
    const edModel = document.getElementById("model");
    const edComment = document.getElementById("comments");


    dvError.innerHTML="";
    dvError.style.display = "none";


    if (edBrand.value.length < 5 || edModel.value.length < 5 || edComment.value.length < 10){
      toret = false;
      dvError.innerHTML = "Por favor, revisa los valores introducidos";
      dvError.style.display = "block";
    }

    return toret;

  }
</script>
<form id="formMotorcycle" action="/motorcycle/add" method="post" onsubmit="check_motorcycle_data()">
  <div class="form-row">
    <div class="col-7">
      <input type="text" class="form-control" placeholder="registration" value="{{motorcycle.registration}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="user" value="{{motorcycle.user}}">
    </div>
    <div class="col">
      <input id="brand" type="text" class="form-control" placeholder="brand" value="{{motorcycle.brand}}">
    </div>
  </div>
    <div class="form-row">
    <div class="col-7">
      <input id="model" type="text" class="form-control" placeholder="model" value="{{motorcycle.model}}">
    </div>
    <div class="col">
      <input id="comments" type="text" class="form-control" placeholder="comments" value="{{motorcycle.comments}}">
    </div>
  </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" onsubmit="document.formMotorcycle.submit()">Enviar</button>
    </div>
</form>

<div id="dvError">

</div>

{% endblock %}