{% extends "skeleton.html" %}
{% block content %}
<div class="container">
     <div>
        <p>Eliminar moto</p>
    </div>
    <form id="frmDeleteMotorcycle" action="/motorcycle/delete?motorcycle_id={{motorcycle.key.urlsafe()}}" method="post">
        <p>
            {% include "motorcycle_description.html" %}
        </p>
        <div class="col-auto">
            <button class=" btn btn-danger" type="submit" onsubmit="document.frmDeleteMotorcycle.submit()">Eliminar</button>
        </div>
    </form>
</div>

{% endblock %}