{% extends "skeleton.html" %}
{% block content %}
    <script type="text/javascript">

        const edBrand = document.getElementById("brand");
        const edModel = document.getElementById("model");
        const edComment = document.getElementById("comments");

        function hideError(){
            document.getElementById("dvError").style.display = "none";
        }

        function showError(msg){
            var dvError = document.getElementById("dvError");
            var pError = document.createElement("p");

            dvError.innerHTML = "";
            dvError.appendChild(pError);
            pError.appendChild(document.createTextNode(msg));
            dvError.style.display = "block";

        }

        function check(){
            var toret = true;

            if(edBrand.value.trim().length == 0){
                showError("La marca es obligatoria");
                toret = false;
            }

            if(edModel.value.trim().length == 0){
                showError("El modelo es obligatorio");
                toret = false;
            }

            return toret;

        }
    </script>
<div class="container">
    <div class="h2">
        <p>Modificar moto</p>
    </div>
    <form id="formModifyClient" action="/motorcycle/modify?client_id={{client.key.urlsafe()}}&?motorcycle_id={{motorcycle.key.urlsafe()}}" method="post" onsubmit="check()">
  <div class="form-row">
    <div class="col-7">
      <input type="text" class="form-control" placeholder="registration" value="{{motorcycle.registration}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="user" value="{{motorcycle.user}}">
    </div>
    <div class="col">
      <input id="brand" type="text" class="form-control" placeholder="brand" value="{{motorcycle.brand}}">
    </div>
  </div>
    <div class="form-row">
    <div class="col-7">
      <input id="model" type="text" class="form-control" placeholder="model" value="{{motorcycle.model}}">
    </div>
    <div class="col">
      <input id="comments" type="text" class="form-control" placeholder="comments" value="{{motorcycle.comments}}">
    </div>
  </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-success mb-2" onsubmit="javascript: document.formModifyMotorcycle.submit()">Modificar</button>
    </div>
</form>
</div>

<div id="dvError">

</div>

{% endblock %}