<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{info.Name}}</title>
</head>
<body>
<div class="container">
    <table>
            <button class="btn btn-success mt-3"><a href="{{access_link}}" style="color: white">{{user_name}}</a></button>
            <td>{{info.Name}}</td>
    </table>
</div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>