<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header class="header mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gestión de taller</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/admin/showClients">Clientes</a>
      <a class="nav-item nav-link" href="/admin/showMotorcycles">Motocicletas</a>
      <a class="nav-item nav-link" href="/admin/showRepairs">Reparaciones</a>
      <button class="btn btn-danger ml-2"><a href="{{logout}}" style="color: white">Cerrar Sesión</a></button>
    </div>
  </div>
</nav>
</header>

<div id="contenido">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>