{% extends "skeleton.html" %}
{% block content %}
<script type="text/javascript">
  function check_repair_data(){
    const edPiece = document.getElementById("piece");
    const edPrice = document.getElementById("price");
    const edComment = document.getElementById("comments");


    dvError.innerHTML="";
    dvError.style.display = "none";


    if(edPiece.value.length < 5 || edComment.value.length){
        toret = false;
        dvError.innerHTML = "Por favor, revisa los valores introducidos";
        dvError.style.display = "block";
    }

    if(edPrice.value.trim().length < 1){
        toret = false;
        dvError.innerHTML = "Por favor, revisa los valores introducidos";
        dvError.style.display = "block";
    }

    return toret;

  }
</script>
<form id="formRepair" action="/repair/add" method="post" onsubmit="check_repair_data()">
  <div class="form-row">
    <div class="col-7">
      <input type="motorcycle" class="form-control" placeholder="registration" value="{{repair.motorcycle}}">
    </div>
    <div class="col">
      <input type="piece" class="form-control" placeholder="user" value="{{repair.piece}}">
    </div>
    <div class="col">
      <input id="price" type="text" class="form-control" placeholder="brand" value="{{repair.price}}">
    </div>
  </div>
    <div class="form-row">
    <div class="col-7">
      <input id="comments" type="text" class="form-control" placeholder="model" value="{{repair.comments}}">
    </div>
  </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" onsubmit="document.formRepair.submit()">Enviar</button>
    </div>
</form>

<div id="dvError">

</div>

{% endblock %}