{% extends "admin/cabecera.html" %}
{% block content %}
<div class="container">
    <table class="table mt-5">
        <h2>Datos de la motocicleta:</h2>
        <thead>
        <tr>
            <th scope="col">Registration</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Comments</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{motorcycle.registration}}</td>
                <td>{{motorcycle.brand}}</td>
                <td>{{motorcycle.model}}</td>
                <td>{{motorcycle.comments}}</td>
                <td>
                    <a href="/admin/deleteMotorcycle?id_motorcycle={{motorcycle.key.urlsafe()}}"><button type="button" class="btn btn-danger">Delete</button></a>
                    <a href="/admin/editMotorcycle?id_motorcycle={{motorcycle.key.urlsafe()}}"><button type="button" class="btn btn-warning">Edit</button></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}