{% extends "admin/cabecera.html" %}
{% block content %}
<div class="container">
    <div class="alert alert-danger" role="alert">
        Tenga en cuenta que al eliminar un cliente eliminara tambien todos sus vehiculos
    </div>
    <form id="formNewClient" action="/admin/deleteClient" method="post">
        <h1>Eliminar cliente</h1>
        <div class="form-group">
            <label for="edDni">Dni:</label>
            <input type="text" class="form-control" id="edDni" name="edDni" value="{{client.dni}}">
        </div>
        <div class="form-group">
            <label for="edName">Nombre:</label>
            <input type="text" class="form-control" id="edName" name="edName" value={{client.name}}>
        </div>
        <div class="form-group">
            <label for="edSurname">Apellidos:</label>
            <input type="text" class="form-control" id="edSurname" name="edSurname" value={{client.surname}}>
        </div>
        <div class="form-group">
            <label for="edPhone">Teléfono:</label>
            <input type="text" class="form-control" id="edPhone" name="edPhone" value={{client.phone}}>
        </div>
        <div class="form-group">
            <label for="edEmail">Email:</label>
            <input type="email" class="form-control" id="edEmail" name="edEmail" value={{client.email}}>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="edIdClient" name="edIdClient" value={{client.key.urlsafe()}}>
        </div>
        <button type="submit" class="btn btn-primary">Eliminar</button>
        <a href="/admin/showClients">
            <button class="btn btn-danger">Cancelar</button>
        </a>
    </form>
</div>
{% endblock %}